<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
  <div class="container">    <!--container-fluid-->
    <!------------- Jumbotron --------------->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <!-- <p>Beach. Rainforest. Volcano. Tree House. Sloths.</p> -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

        <!------------ Title and Text ------------>
        <h2>Latest Mars News</h2>
        <h3>{{ mars_data.news_article }}</h3>
        <h3>{{ mars_data.news_paragraph }}</h3>

  <!------------------ Main Body  ---------------------------->
    <!------------------ Left Section  ---------------------------->
    <div class="row">
        <div class="col-md-8 left-section">
          <h3>Featured Mars Image</h3>
          <div class=".img-responsive">
          <!-- <h3>{{mars_data.jpl_image}}</h3> -->
          <img src="{{mars_data.jpl_image}}" alt="Mars" class="float-left main-img-index" id="description-image"/> 
          <!-- <img src="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg" alt="Mars" class="float-left main-img-index" id="description-image"/>   -->
          </div>
        </div>
  
    <!------------------ Right Section  ---------------------------->
        <div class="col-md-4 ml-auto">
          <h3>Mars Facts</h3>
          <!--------------------- Table ------------------------>
          <h4>{{mars_data.mars_variable | safe}}</h4>


          <!-- <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: left;">
                <th></th>
                <th>Values</th>
              </tr>
              <tr>
                <th>Mars Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Equatorial Diameter:</th>
                <td>6,792 km</td>
              </tr>
              <tr>
                <th>Polar Diameter:</th>
                <td>6,752 km</td>
              </tr>
              <tr>
                <th>Mass:</th>
                <td>6.39 × 10^23 kg (0.11 Earths)</td>
              </tr>
              <tr>
                <th>Moons:</th>
                <td>2 (Phobos &amp; Deimos)</td>
              </tr>
              <tr>
                <th>Orbit Distance:</th>
                <td>227,943,824 km (1.38 AU)</td>
              </tr>
              <tr>
                <th>Orbit Period:</th>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <th>Surface Temperature:</th>
                <td>-87 to -5 °C</td>
              </tr>
              <tr>
                <th>First Record:</th>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <th>Recorded By:</th>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table> -->
        </div>
  
      </div>   <!--------- top page row_end ---------->
  
       <br>
       <br>
       <br>


    <!-------------- Mars Hemispheres Section --------------->
    <div class="col-md-12 ml-auto">
        <h2 id="mars-hemispheres">Mars Hemispheres</h2>
    </div>
    <hr>
    <br>
    <br>

    <div class="section">  
    <div class="row">
    <!------- TOP LEFT ------->
    <div class="col-md-6">
        <img src="{{mars_data.hemisphere_image_urls}}[0]" alt="Cerberus Hemisphere">
        <!-- <img src="https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg" alt="Cerberus Hemisphere" class="img-thumbnail img-fluid">
    </div> -->

    <!------ TOP RIGHT ------>
    <div class="col-md-6">
        <img src="{{mars_data.hemisphere_image_urls}}[1]" alt="Schiaparelli Hemisphere">
        <!-- <img src="https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg" alt="Schiaparelli Hemisphere" class="img-thumbnail img-fluid"> -->
    </div>

    <!------ BOTTOM LEFT ------>
    <div class="col-md-6">
        <img src="{{mars_data.hemisphere_image_urls}}[2]" alt="Syrtis Major Hemisphere">
        <!-- <img src="https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg" alt="Syrtis Major Hemisphere" class="img-thumbnail img-fluid"> -->
    </div>

    <!------ BOTTOM RIGHT ------>
    <div class="col-md-6">
        <img src="{{mars_data.hemisphere_image_urls}}[3]" alt="Valles Marineris Hemisphere">
        <!-- <img src="https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg" alt="Valles Marineris Hemisphere" class="img-thumbnail img-fluid"> -->
    </div>

    </div>     <!-------end of section  -------->











</div>      <!------ Mars Hemisphere row end ------->















   </div>      <!----- Container end ----->
</body>

</html>


